{% load static %}
<!--Menu Nav-->
<nav>
<a href="/">Inicio</a>
<a href="/nosotres">Nosotres</a>
<a href="/proyecto">El Proyecto</a>
<a href="/contacto">Contacto</a>
</nav>

<nav>
{% for name, elem in nav %}
<a href="{{elem.link}}"
	id="nav_{{name}}">{{elem.texto}}</a>
	{% endfor %}
</nav>
