{% extends 'base.dj.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block content_article %}
<!-- CONTENIDO DE INICIIO -->
<!<article>
<section>
<img src="{% static 'home/img/Bahía_de_Quintero_Van_Spielbergen.jpg' %}"
</section>
<section>
<h1>Contacto</h1>
<!<h2>==========</h2>
<p>
<i>
Escríbenos a escribir@cnsl.cl</i>
</p>
<p>
Venimos desde los territorios, las organizaciones no gubernamentales (ONG), 
militantes de distintas organizaciones políticas y ciudadanos comprometidos por el bien común.</p>

<h3>¿Qué esperas para unirte?</h3>
</section>
<!</article>
{% endblock %}
