{% extends 'base.dj.html' %}
{% load static %}
{% block title %}Inicio de Zonas de Sacrificio{% endblock %}
{% block content_article %}
<!-- CONTENIDO DE INICIIO -->
<!<article>
<section>
<img src="{% static 'home/img/quintero.jpg' %}"
</section>
<section>
<h1>Zonas de Sacrificio</h1>
<p>
<i>
"Son zonas sin derecho ambiental.
Las justamente denominadas “Zonas de sacrificio” son lugares
que padecen depredación, dejadas por el Estado a los estragos
de la devastación industrial, con efectos perjudiciales
graves al Medio Ambiente y a la Salud de las comunidades locales"</i>
</p>
<p>Radio Uchile</p>
</section>
<!</article>
{% endblock %}
