{% extends 'base.dj.html' %}
{% load static %}
{% block title %}Nosotres{% endblock %}
{% block content_article %}
<!-- CONTENIDO DE INICIIO -->
<section>
<img src="{% static 'home/img/quintero1.jpeg' %}"
</section>
<section>
<h1>Nosotres</h1>
<h2>==========</h2>
<p>
<i>
Somos un grupo de personas comprometidas con la defensa del medio ambiente,
que hemos visto como nuestro territorio ha sido afectado tremendamente 
con las políticas de extracción y explotación industrial que provocan
contaminación sobre los ecosistemas y las personas.</i>
</p>
<p>
Venimos desde los territorios, las organizaciones no gubernamentales (ONG), 
militantes de distintas organizaciones políticas y ciudadanos comprometidos por el bien común.</p>

<h3>¿Qué esperas para unirte?</h3>
</section>
{% endblock %}
