{% extends 'base.dj.html' %}
{% load static %}
{% block title %}Inicio de Zonas de Sacrificio{% endblock %}
{% block content_article %}
<!-- CONTENIDO DE INICIIO -->
<!<article>
<section>
<img src="{% static 'home/img/quintero2.jpeg' %}"
</section>
<section>
<h1>El Proyecto</h1>
<p>El proyecto consiste en un archivo repositorio con toda la información que
se pueda recopilar acerca de las *zonas de sacrificio*.
<br>
Está (estará) concebido para ser dinámico y que pueda generar un relato
visual de los efectos devastadores que tiene la actividad industrial.
<br>
También considera los principales actores que ejecutan o se ven afectados
en estas zonas.
<br>
Concebimos a un *neo juglar* que tenga la importante misión de recabar información y 
registrarla en la plataforma.
<br>
La información debe ser clara, precisa y con niveles de profundidad. Dependiendo 
del usuario hay distintos niveles de acceso.</p>
<p><strog>Estamos en desarrollo...</strog></p>
</section>
<!</article>
{% endblock %}

